html {
  height: 100vh;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(97, 97, 97) 100%);
}

.body {
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
}

/* BUTTON STYLES */
.no-answer-button:hover, .no-answer-button:focus {
  background-color: rgba(224, 11, 11, 0.404);
  border: 2px solid rgb(90, 9, 9);
}
.yes-answer-button:hover, .yes-answer-button:focus {
  background-color: rgba(11, 224, 46, 0.397);
  border: 2px solid rgb(9, 90, 40);
}

.save-file-function-button {
  background-color: white;
}

.save-file-function-button:hover, .save-file-function-button:focus {
  background-color: rgba(0, 0, 0, 0.856);
  color: white;
  cursor: pointer;
} 

/* GRID STYLES */
.grid-container {
  box-sizing: border-box;
  aspect-ratio: 1/1;
  /* try CLAMP */
  min-width: 50vw;
  min-height: 50vh;
  max-width: 85vw;
  max-height: 85vh;

  margin-bottom: .2em;
  position: relative;
}

.grid {
  box-sizing: border-box;
  border: 0.3rem solid #000;
  background: black;
  list-style-type: none;
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  display: grid;
  gap: 0.2em;
}

.grid-container li {
  width: auto;
  height: auto;
  min-width: 8px;
  min-height: 8px;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/* TOOL PICKER / INPUT BUTTON STYLES*/
.tools-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  position: relative;
}

.color-picker {
  margin-top: 0.5em;
  min-width: 2rem;
  min-height: 3rem;
  margin-right: 1rem;
}

.input-buttons {
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  margin-top: 0.5em;
  max-height: 5vh;
  border: 1px solid;
}

.create-grid-button:hover, .create-grid-button:focus {
  background: rgba(0, 0, 0, 0.548);
  color: white;
  border: 1px solid white;
}

.create-grid-input {
  max-width: 2rem;
  box-sizing: border-box;
  border-left: 1px solid black;
}

.clear-grid-button {
  margin-left: 1em;
  max-width: auto;
}

.clear-grid-button:hover, .clear-grid-button:focus {
  background: rgba(0, 0, 0, 0.548);
  color: white;
  border: 1px solid white;
}

.pixel-size-info {
  margin: .2rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: .5em;
  justify-content: center;
  align-items: center;
}

.slider {
  appearance: none;
  height: 3px;
  background-color: white;
}

.slider-value {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  box-sizing: border-box;
  border: 1px solid white;
  padding: .2rem;
  max-width: fit-content;
  background: black;
  color: white;
}

/* DISPLAY QUESTION STYLES */
.question-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 15;
  padding: .5em;

  background-color: white;
  border: 2px solid black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  font-size: larger;
  font-weight: lighter;
}

.question-container p {
  margin: 0;
}

.question-container strong {
  margin-bottom: 1em;
}

.question-buttons-container {
  display: flex;
  justify-content: center;
  gap: 1.2em;
}

.question-button {
  border: 2px solid rgb(0, 0, 0);
  font-size: medium;
  font-weight: bold;
  padding: 0.5em;
  padding-inline: 2em;
  transition: transform 222ms;
}

.question-button:hover, .question-button:focus {
  transform: translatey(-7%);
}

.hide.body::before {
  position: absolute;
  z-index: 10;
  display: block;
  content: " ";
  width: 110vw;
  height: 1500vh;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgb(0, 0, 0);
  opacity: .6;
}

.hide.question-container {
  display: none;
}

/*COLOR SELECTORS*/
.color-selectors {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: -5em;
  aspect-ratio: 1/1;
  top: 20%;
}

.color-selectors input {
  margin-bottom: 1em;
  border: 1px solid black;
}

.color-queue {
  display: flex;
  flex-direction: column;
}

.color-queue input:nth-child(1)::before {
  content: "";
  width: 75%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.856);
  display: inline-block;
  position: absolute;
  top: 23%;
  left: 0;
  border: 1px solid black;
}


/* INSTRUCTIONS STYLES */

.instructions-wrapper {
  z-index: 9;
}

.hide-instruction.body::before {
  position: absolute;
  z-index: 8;
  display: block;
  content: " ";
  width: 110vw;
  height: 1500vh;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(0, 0, 0, 0.512);
}

/* instruction menu styles */

.instructions-menu {
  font-size: large;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 1em;
  border: 1px solid black;
  padding: .5em;
  background-color: white;
  color: black;
}

.instructions-menu-title {
  font-weight: bold;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid black;
  padding: 0.1em;
  cursor: pointer;
}

.instructions-menu-title:hover {
  border: 2px solid black;
}

.instructions-menu-ul {
  margin: 0;padding: 0;
  list-style-type: none;
}

.instructions-menu-item {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin-top: 2em;
  border: 2px solid rgba(255, 255, 255, 0);
  width: fit-content;
}

.instructions-menu-item:nth-child(1) {
  margin-top: .8em;
}

.instructions-menu-item:hover, .instructions-menu-item:focus {
  border-bottom: 2px solid black;
}

.instructions-menu-ul.hide-list {
  display: none;
}

/* color instructions */
.color-palette-instructions {
  min-width: 20em;
  font-size: larger;
  position: absolute;
  z-index: 100;
  top: 21%;
  right: 0em;
  
  background-color: rgb(15, 15, 85);
  padding-inline: 0.5em;
  border: 1px solid white;
  border-radius: 10px;
  color: white;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.color-hide {
  display: none;
}

.show-instruction.color-selectors {
  z-index: 100;
}

/* pixel instructions */
.pixel-size-instructions {
  text-align: center;
  font-size: larger;

  position: absolute;
  z-index: 100;
  bottom: 2em;
  right: -1.5em;

  background-color: rgb(15, 15, 85);
  min-width: 30em;
  padding-inline: .3em;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.slider-hide {
  display: none;
}

.show-instruction.pixel-size-info {
  z-index: 100;
}


/* create isntructions */
.create-grid-instructions {
  font-size: larger;
  background-color: rgb(15, 15, 85);
  padding-inline: .5em;
  border: 1px solid white;
  border-radius: 10px;
  color: white;

  position: absolute;
  z-index: 100;
  bottom: 2em;
  left: 0;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.create-hide {
  display: none;
}

.show-instruction.create-grid-button {
  z-index: 100;
}

.show-instruction.create-grid-input {
  z-index: 100;
}

/* save files  */
.save-files-wrapper {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  font-size: large;
  font-weight: bold;
  background-color: white;
  padding: .5em;
  border: 1px solid black;

  position: absolute;
  z-index: 1;
  top: 5em;
  left: 1em;
}

.dim-background.save-files-wrapper::before {
  position: absolute;
  display: block;
  content: '';

  width: 120vw;
  height: 120vh;

  top: -10em;left: -5em;
  background-color: rgba(0, 0, 0, 0.637);

  z-index: 1;
}

.save-file-header {
  cursor: pointer;
  width: fit-content;
  border: 2px solid white;
  border-bottom: 2px solid black;
  padding: 0.1em;
}

.save-file-header:hover {
  border: 2px solid black;
}

.save-files-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.save-file {
  user-select: auto;
  border: 2px solid black;
  margin-block: .5em;
  padding: 0.5em;

  display: flex;
  justify-content: space-between;

  width: 30em;
  position: relative; /*for .save-file-rename positioning*/
}

.save-file.hide-save-file {
  display: none;
}

.save-file-name-container {
  width: 42ch;
  word-break: break-all;
}

.save-file-rename {
  position: absolute;
  left: 14%;
  height: 40%;
  
  display: none;
}

.save-file-rename.show-save-file-rename {
  display: block;
}

.save-file.save-success {
  border: 2px solid rgb(15, 175, 15);
  background-color: rgba(23, 218, 23, 0.397);
}

.save-success-text {
  font-size: large;
  font-weight: bold;
  border-bottom: 2px solid rgb(14, 184, 14);
  margin-right: 2.6em;

  display: none;
}

.save-success-text.show-success-confirmation {
  display: block;
}

.save-file-header-container {
  display: flex;
  justify-content: space-between;
}

/* saved files question styles */
.saved-files-question-container {
  position: absolute;
  background-color: white;

  padding-inline: .8em;
  padding-block: .5em;
  width: 10em;
  text-align: center;
  border: 1px solid black;

  top: 2em;
  left: 20em;

  z-index: 2;

  display: none;
}

.saved-files-question-container.show-saved-files-question-container {
  display: block;
}

.saved-files-question-buttons-container {
  display: flex;
  justify-content: space-between;
}

.save-file-question-button {
  border: 2px solid rgb(0, 0, 0);
  font-size: small;
  font-weight: bold;
  padding: 0.5em;
  padding-inline: 2em;
}

/* saved files question styles */
.load-file-question-container {
  position: absolute;
  background-color: white;

  padding-inline: .8em;
  padding-block: .5em;
  width: 10em;
  text-align: center;
  border: 1px solid black;

  top: 2em;
  left: 20em;

  z-index: 2;

  display: none;
}

.load-file-question-container.show-load-file-question-container {
  display: block;
}

.load-file-question-buttons-container {
  display: flex;
  justify-content: space-between;
}

.load-file-question-button {
  border: 2px solid rgb(0, 0, 0);
  font-size: small;
  font-weight: bold;
  padding: 0.5em;
  padding-inline: 2em;
}