html {
  background-color: rgb(63, 63, 63);
}

.body {
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
}

/* GRID STYLES */
.grid-container {
  box-sizing: border-box;
  aspect-ratio: 1/1;
  /* try CLAMP */
  min-width: 50vw;
  min-height: 50vh;
  max-width: 85vw;
  max-height: 85vh;

  margin-bottom: .2em;
  position: relative;
}

.grid {
  box-sizing: border-box;
  border: 0.3rem solid #000;
  background: black;
  list-style-type: none;
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  display: grid;
  gap: 0.2em;
}

.grid-container li {
  background: white;
  width: auto;
  height: auto;
  min-width: 8px;
  min-height: 8px;

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

/* TOOL PICKER / INPUT BUTTON STYLES*/
.tools-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
}

.color-picker {
  margin-top: 0.5em;
  min-width: 2rem;
  min-height: 3rem;
  margin-right: 1rem;
}

.input-buttons {
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  margin-top: 0.5em;
  max-height: 5vh;
  border: 1px solid;
}

.create-grid-button:hover {
  background: grey;
  color: white;
  border: 1px solid white;
}

.create-grid-input {
  max-width: 2rem;
  box-sizing: border-box;
  border-left: 1px solid black;
}

.clear-grid-button {
  margin-left: 1em;
  max-width: auto;
}

.clear-grid-button:hover {
  background: grey;
  color: white;
  border: 1px solid white;
}

.pixel-size-info {
  margin: .2rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: .5em;
  justify-content: center;
  align-items: center;
}

.slider {
  appearance: none;
  height: 3px;
  background-color: white;
}

.slider-value {
  font-size: larger;
  box-sizing: border-box;
  border: 1px solid white;
  padding: .2rem;
  max-width: fit-content;
  background: black;
  color: white;
}

/* DISPLAY QUESTION STYLES */
.question-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  padding: .5em;

  background-color: white;
  border: 2px solid rgb(7, 30, 141);

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  font-size: larger;
  font-weight: lighter;
}

.question-container p {
  margin: 0;
}

.question-container strong {
  margin-bottom: 1em;
}

.question-buttons-container {
  display: flex;
  justify-content: center;
  gap: 1.2em;
}

.question-button {
  border: 2px solid rgb(0, 0, 0);
  font-size: medium;
  padding: 0.5em;
  padding-inline: 2em;
}

.question-button:hover {
  background-color: rgb(108, 172, 228);
  border: 2px solid rgb(7, 30, 141);
}

.hide.body::before {
  position: absolute;
  z-index: 10;
  display: block;
  content: " ";
  width: 110vw;
  height: 1500vh;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgb(0, 0, 0);
  opacity: .7;
}

.hide.question-container {
  display: none;
}

/*COLOR SELECTORS*/
.color-selectors {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: -4.5em;
  top: 20%;
}

.color-selectors input {
  margin-bottom: 1em;
}

.color-queue {
  display: flex;
  flex-direction: column;
}

.color-queue input:nth-child(1)::before {
  content: "";
  width: 75%;
  height: 3px;
  background-color: black;
  display: inline-block;
  position: absolute;
  top: 23%;
  left: 0;
}
